.white{
    color: #fff;
}
.platinum{
    color: #e6e7e7; 
}
.ligthGray{
    color: #d1d1d1;
    background-color: #d1d1d1;
}
.fuzzyWuzzy{
    color: #e56353;
}
.ruddyPink{
    color: #d76c69;
}
.spanishPink{
    color: #ecbcba;
}
.eerieBlack{
    background-color: #121619;
    color: #121619;
}
.raisinBlack{
    color: #222323;
}
.nickel{
    color: #6c6e70;
    background-color:#6c6e70;
}

